*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    
    background-color: rgb(12, 11, 11);

}
#hero-image{
    margin-top: -80px;
    width: 100%;
    height: 58.3rem;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/beach.jpeg);
    background-size: cover;
    background-position-y: 60%;
}

#navigation{
    display: grid;
    margin-left: 50%;
    grid-template-columns: repeat(8, 1fr);
    padding-top: 10px;
    font-family: 'Permanent Marker', cursive;
    width: 20%;
    height: 80px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.navigationBtn{
    display: inline-block;
    grid-template-columns: repeat(7, 1fr);
    transform: translateY(10px);
    transition: .2s all ease;
    text-decoration: none;
    width: max-content;
    color: white;
    height: 60px;
    padding: 15px;

}
.navigationBtn:first-child{
    font-size: 2rem;
    width: 4%;
    margin-left: -410%;
}
.navigationBtn:hover{
    transform: translateY(0px);
    color: black;
 
}
body p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: Trebuchet MS;
}
.main-content {
    font-size: 1.5rem;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding-top: 20%;   
}

.main-content p{
    transform: translateY(10px);
    transition: .2s all ease;
    font-family: 'Permanent Marker', cursive;  
    bottom: 40px;
    text-align: center;
}

.main-content p:hover{
    transform: translateY(0px);
    color: black;
}

.typing{
   
    transform: translateY(10px);
    transition: .2s all ease;
    position: relative;
}
.typing:hover{
    transform: translateY(0px);
    color: black;
}

.typing::after{
    content:"";
    position: absolute;
    width: 1px;
    height: 90%;
    border-right: 2px solid white;
    margin-right: 1px;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}